!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "../partials/countdown_head"

  %body{:class => current_page.data.body_class || 'page'}
    #main(role="main")
      %header#header
        %h1
          = link_to "/" do
            = image_tag "header/logo@2x.png", :alt => "Ruby Sauna"


      = yield

      = partial "../partials/countdown_scripts"
