!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    = partial "document_head"

  %body{:class => current_page.data.body_class || 'page'}
    #container
      = partial 'header'

      #main(role="main")
        = yield

      = partial 'footer'
      = partial 'scripts'
