%footer#footer
  .background
    = image_tag "footer/background.jpg", :alt => ""

  %ul
    - %w(twitter facebook github).each do |page|
      %li
        %a(href="http://#{page}.com/rubysauna" title="Join us!")
          = image_tag "#{page}@2x.png"
    %li
      %a(href="http://lanyrd.com/2013/rubysauna/" title="Join us at Lanyrd!")
        = image_tag "lanyrd@2x.png"

  %p
    Contact us via
    %a(href="mailto:info@rubysauna.org" title="Send mail")
      email
    and find our
    %a(href="https://github.com/rubysauna/rubysauna.org/wiki/Code-of-conduct" title="Code of Conduct at Github")
      code of conduct
    at Github.
