%header#header
  %h1
    = image_tag "header/logo@2x.png", :alt => "Ruby Sauna"

  %h2
    Warming up to Ruby
    %br
    in the cold north

  - if upcoming_events.any?
    %p.meta
      = next_event.time.strftime "%e. %B %Y, %H:%M"
      &mdash;
      = next_event.location

    %p.action
      %a(href="#{next_event.tickets_url}" title="Get your ticket now")
        Get your free ticket

  - else
    = partial "newsletter"

  .background
    = image_tag "header/background.jpg", :alt => ""
