---
title: RubySauna
layout: countdown
---
.countdown
	%h1
		00:00
.sponsor-headline
	%h2
		RubySauna is sponsored by
.scroller
	.scroll-element.active
		= image_tag "sponsors/siili@2x.png"
		%p.desc
			Siili Solutions is a full–stack software and digital service power house from Helsinki. We're comprised of Finland’s leading experts with an average working experience of 13 years. With independence, honesty, openness and lean management as core values, Siili is not only a reliable partner but also a great place to work.
	.scroll-element
		= image_tag "sponsors/boogie@2x.png"
		%p.desc
			Boogie Software has the best competence for solving critical technical issues and experienced project management — for your most important tasks.
		%p.url
			www.boogiesoftware.com
	.scroll-element
		= image_tag "sponsors/pivo@2x.png"
		%p.desc
			Pivo is the leanest banking app in the world. Pivo helps you make better decisions while you are shopping.
		%p.url
			www.pivolompakko.fi
	.scroll-element
		= image_tag "sponsors/technopolis@2x.png"
		%p.desc
		Technopolis Technopolis Technopolis Technopolis Technopolis Technopolis
		%p.url
			www.technopolis.com
	.scroll-element
		= image_tag "sponsors/kisko@2x.png"
		%p.desc
			Kisko Labs works with companies big and small to bring their business concepts to the web. They specialize in Ruby on Rails, responsive design and functional prototypes. 
		%p.url
			www.kiskolabs.com

