---
title: RubySauna
layout: countdown
---
.countdown
	%h1
		00:00
.sponsor-headline
	%h2
		RubySauna is sponsored by
.scroller
	.scroll-element.active
		= image_tag "sponsors/siili@2x.png"
		%p
			Siili siili siili siili
	.scroll-element
		= image_tag "sponsors/boogie@2x.png"
		%p
			Boogie boogie boogie boogie
	.scroll-element
		= image_tag "sponsors/pivo@2x.png"
		%p
			Pivo Pivo Pivo Pivo Pivo Pivo Pivo Pivo Pivo Pivo Pivo
	.scroll-element
		= image_tag "sponsors/technopolis@2x.png"
		%p
		Technopolis Technopolis Technopolis Technopolis Technopolis Technopolis 
	.scroll-element
		= image_tag "sponsors/kisko@2x.png"
		%p
			Kisko kisko Kisko kisko Kisko kisko Kisko kisko Kisko kisko Kisko kisko 

