---
title: Ruby Sauna 2013
body_class: index
layout: front_page
---

%section#intro
  = next_event_fetch(:intro, data.shared.default_intro)
  = next_event_fetch(:powered_by) do |powered_by|
    = partial "powered_by", :locals => { :powered_by => powered_by }

- if upcoming_events.any?
  = partial "speakers", :locals => { :speakers => next_event.speakers }
  = partial "venue", :locals => { :venue => next_event.venue, :program => next_event.program }

= partial "faq"

- if upcoming_events.any?
  = partial "sponsors", :locals => { :sponsors => next_event.sponsors }