---
title: Ruby Sauna 2013
body_class: index
---

%section#intro
  %p
    Ruby Sauna invites the interested web developer and seasoned Rubyist in
    northern Finland alike. People new to the language will hopefully whet their
    appetite on a great ecosystem, while developers already working
    with Ruby will have a chance to meet like–minded people and listen to talks on
    interesting subjects.

  %p.powered
    Ruby Sauna is powered by
    %br
    %a(href="https://www.facebook.com/SocializingFriday" title="The Socializing Friday Facebook page")
      = image_tag "header/njetworking_logo@2x.png", :alt => "Njetworking"


%section#speakers
  %h3
    Meet our speakers

  %ul
    %li
      .head
        = image_tag "speakers/adam@2x.jpg", :alt => "Adam Hawkins", :class => "portrait"
        %h4
          %a(href="https://twitter.com/adman65" title="Adam on Twitter")
            Adam Hawkins
        %p.meta
          Platform Engineer
        %p.topic
          Ruby —
          %br
          A wonderfully diverse ecosystem
        %p.bio
          Adam is a rubyist, rails guy, and general open source nerd.
          He loves to contribute to open source projects he uses as well as
          write his own. He scratches his own itches through hisopen source work.
          When he’s not coding he travels and enjoys trance in very heavy doses.
        %p.bio-footer
          %a(href="http://hawkins.io")
            Hawkins.io
    %li
      .head
        = image_tag "speakers/ville@2x.jpg", :alt => "Ville Kolehmainen", :class => "portrait"
        %h4
          %a(href="https://twitter.com/villek" title="Ville on Twitter")
            Ville Kolehmainen
        %p.meta
          Creative Director, Siili Solutions
        %p.topic
          Prototyping for scale
          %br
          The process behind the new nokia.com
        %p.bio
          Ville is a hands-on creative director at Siili, a software powerhouse
          in Helsinki. As a designer Ville's ambition is in efficient problem
          solving and creating beautiful user experiences. In addition to design
          and development work, Ville has written and co-authored large-scale
          design and product development guidelines for companies like Outotec and Nokia.
        %p.bio-footer
          %a(href="https://twitter.com/villek")
            twitter.com/villek
    %li
      .head
        = image_tag "speakers/avdi@2x.jpg", :alt => "Avdi Grimm", :class => "portrait"
        %h4
          %a(href="https://twitter.com/avdi" title="Avdi on Twitter")
            Avdi Grimm
          = image_tag "shared/video_icon.png", :alt => "Video only"
        %p.meta
          Chief Aeronaut at ShipRise
        %p.topic
          Ruby and the Ruby community
          %br
          Live Video Q&A
      %p.bio
        Avdi Grimm has been hacking Ruby code for over 10 years, and is still
        loving it. He is chief aeronaut at ShipRise, a consultancy specializing
        in sustainable software development and in helping geographically dispersed
        teams work more effectively. He lives in Southern Pennsylvania with his wife
        and five children, and in his copious spare time blogs and podcasts at Virtuous
        Code and Wide Teams.
      %p.bio-footer
        %a(href="https://avdi.org")
          Avdi.org

%section#venue
  %h3
    Venue and Program

  %figure
    %iframe(width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Sep%C3%A4nkatu+20,+90100+Oulu,+Finland&amp;aq=0&oq=Sep%C3%A4nkatu+20,+90100+Oulu&sll=37.0625,-95.677068sspn=70.852019,134.912109&amp;ie=UTF&hnear=Sep%C3%A4nkatu+20,+Oulu,+Finland&t=m&z=14&iwloc=near&output=embed")

  .program
    %dl
      %dt
        17:30 – 18:00
      %dd
        Welcome
      %dt
        18:00 – 19:30
      %dd
        Presentations and Q&A
      %dt
        starting 19:30
      %dd
        Sauna and socializing, powered by Njetworking

  .venue
    %p.inline
      You can find us at
    %address
      Technopolis
      %br
      Sepänkatu 20, 90100 Oulu
      %br
      The sauna is located at the top floor.
    %p
      More information can be found online
      %a(href="http://www.technopolis.fi/fi/technopolis/toimitilat/oulu/ydinkeskusta/Sivut/Kokoustila+saunaosasto-Reykjavik.aspx?returnurl=/fi/technopolis/toimitilat/oulu/ydinkeskusta/Sivut/default.aspx&returntype=c")
        at Technopolis’ website
      (in Finnish).

%section#faq
  %h3
    Frequently Asked Questions
  %dl
    %dt
      What is this ‘sauna’ you keep talking about?
    %dd
      A sauna is basically just a pretty hot (typically between 70 °C and 100 °C) and humid room or house.
      To spend time in the sauna is meant to be a relaxing and social experience.
      %br
      If you haven't tried it before, you definitely should come to Ruby Sauna.
      Finns love
      %a(href="http://en.wikipedia.org/wiki/Finnish_sauna")
        their saunas
      so much they construct their homes around them.
    %dt
      Do I need to bring my own towel?
    %dd
      No need, we’ve got you covered. The venue provides towels for everybody.
    %dt
      Is this a mixed sauna event?
    %dd
      No. It’s custom in Finland for women and men to visit the sauna separately.
      (Whichever group is smaller gets to go first.)
      %br
      If you don’t associate yourself with either gender please get in touch with us prior to the event.
  %dl
    %dt
      Is nudity compulsory?
    %dd
      No, but it’s very uncommon in Finland to wear clothes in the sauna and we don’t recommend it.
    %dt
      Why on earth in Oulu, Finland?
    %dd
      While Oulu is actually a fairly big city on a Finnish scale and home to many software companies,
      there isn’t really such a thing as a local Ruby community existing anywhere north from Helsinki.
      %br
      Since we love Ruby and the community around it we figured we’ll have to change that and make
      something happen for the northern Rubyists.
      And what could be better suited to bring people together in Finland than ‘sauna’?
    %dt
      Who’s organizing Ruby Sauna?
    %dd
      We’re two local web workers in love with Ruby. You can find us on Twitter —
      %a(href="http://twitter.com/tuomasj") Tuomas
      &
      = succeed "." do
        %a(href="http://twitter.com/polarblau") Florian


%section#sponsors
  %h5
    Ruby Sauna has been made possible by
  %ul
    %li
      %a(href="https://www.facebook.com/SocializingFriday" title="Socializing Friday at Facebook")
        = image_tag "sponsors/njetworking.png", :alt => "Njetworking logo"
    %li
      %a(href="http://www.siili.fi" title="Siili.fi")
        = image_tag "sponsors/siili.png", :alt => "Siili logo"
    %li
      %a(href="http://confluence.agilefinland.com/" title="Agilefinland.com")
        = image_tag "sponsors/agile_finland.png", :alt => "Agile Finland logo"
    %li
      %a(href="http://www.haltian.com/" title="Haltian.com")
        = image_tag "sponsors/haltian.png", :alt => "Haltian logo"
    %li
      %a(href="mailto:janne@socfri.com" title="Become a sponsor")
        Become a sponsor!
