---
title: Ruby Sauna 2013
body_class: index
layout: front_page
---

%section#intro
  %p
    Ruby Sauna invites the interested web developer and seasoned Rubyist in
    northern Finland alike. People new to the language will hopefully whet their
    appetite on a great ecosystem, while developers already working
    with Ruby will have a chance to meet like–minded people and listen to talks on
    interesting subjects.

  -#
    %p.powered
      Ruby Sauna is powered by
      %br
      %a(href="https://www.facebook.com/SocializingFriday" title="The Socializing Friday Facebook page")
        = image_tag "header/njetworking_logo@2x.png", :alt => "Njetworking"

  - if upcoming_events.any?
    = partial "speakers", :locals => { :speakers => next_event.speakers }

  %section#venue
    %h3
      Venue and Program

    %figure
      %iframe(width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Sep%C3%A4nkatu+20,+90100+Oulu,+Finland&amp;aq=0&oq=Sep%C3%A4nkatu+20,+90100+Oulu&sll=37.0625,-95.677068sspn=70.852019,134.912109&amp;ie=UTF&hnear=Sep%C3%A4nkatu+20,+Oulu,+Finland&t=m&z=14&iwloc=near&output=embed")

    .program
      %dl
        %dt
          17:30 – 18:00
        %dd
          Welcome
        %dt
          18:00 – 19:30
        %dd
          Presentations and Q&A
        %dt
          starting 19:30
        %dd
          Sauna and socializing, powered by Njetworking

    .venue
      %p.inline
        You can find us at
      %address
        Technopolis
        %br
        Sepänkatu 20, 90100 Oulu
        %br
        The sauna is located at the top floor.
      %p
        More information can be found online
        %a(href="http://www.technopolis.fi/fi/technopolis/toimitilat/oulu/ydinkeskusta/Sivut/Kokoustila+saunaosasto-Reykjavik.aspx?returnurl=/fi/technopolis/toimitilat/oulu/ydinkeskusta/Sivut/default.aspx&returntype=c")
          at Technopolis’ website
        (in Finnish).

%section#faq
  %h3
    Frequently Asked Questions
  %dl
    %dt
      What is this ‘sauna’ you keep talking about?
    %dd
      A sauna is basically just a pretty hot (typically between 70 °C and 100 °C) and humid room or house.
      To spend time in the sauna is meant to be a relaxing and social experience.
      %br
      If you haven't tried it before, you definitely should come to Ruby Sauna.
      Finns love
      %a(href="http://en.wikipedia.org/wiki/Finnish_sauna")
        their saunas
      so much they construct their homes around them.
    %dt
      Do I need to bring my own towel?
    %dd
      No need, we’ve got you covered. The venue provides towels for everybody.
    %dt
      Is this a mixed sauna event?
    %dd
      No. It’s custom in Finland for women and men to visit the sauna separately.
      (Whichever group is smaller gets to go first.)
      %br
      If you don’t associate yourself with either gender please get in touch with us prior to the event.
    %dt
      Is nudity compulsory in the sauna?
    %dd
      No, but it’s very uncommon in Finland to wear clothes in the sauna and we don’t recommend it.
  %dl
    %dt
      Why on earth in Oulu, Finland?
    %dd
      While Oulu is actually a fairly big city on a Finnish scale and home to many software companies,
      there isn’t really such a thing as a local Ruby community existing anywhere north from Helsinki.
      %br
      Since we love Ruby and the community around it we figured we’ll have to change that and make
      something happen for the northern Rubyists.
      And what could be better suited to bring people together in Finland than ‘sauna’?
    %dt
      Do you have a ‘Code of Conduct’ published somewhere?
    %dd
      Indeed we have and we’d really appreciate if you could take a minute to
      %a(href="/conduct")
        read
      it through.
    %dt
      Who’s organizing RubySauna?
    %dd
      We’re two local web workers in love with Ruby. You can find us on Twitter —
      %a(href="http://twitter.com/tuomasj") Tuomas
      &
      = succeed "." do
        %a(href="http://twitter.com/polarblau") Florian

-#
  %section#sponsors
    %h5
      Ruby Sauna has been made possible by
    %ul
      %li
        %a(href="https://www.facebook.com/SocializingFriday" title="Socializing Friday at Facebook")
          = image_tag "sponsors/njetworking@2x.png", :alt => "Njetworking logo", :height => 18
      %li
        %a(href="http://www.siili.fi" title="Siili.fi")
          = image_tag "sponsors/siili@2x.png", :alt => "Siili logo", :height => 31
      %li
        %a(href="http://confluence.agilefinland.com/" title="Agilefinland.com")
          = image_tag "sponsors/agile_finland@2x.png", :alt => "Agile Finland logo", :height => 45
      %li
        %a(href="http://www.haltian.com/" title="Haltian.com")
          = image_tag "sponsors/haltian@2x.png", :alt => "Haltian logo", :height => 30
      %li
        %a(href="http://www.boogiesoftware.com/" title="Boogiesoftware.com")
          = image_tag "sponsors/boogie@2x.png", :alt => "Boogie software logo", :height => 36
      %li
        %a(href="http://www.mepin.com/" title="Mepin.com")
          = image_tag "sponsors/mepin@2x.png", :alt => "Mepin logo", :height => 30
      %li
        %a(href="http://www.symbio.com/" title="Symbio.com")
          = image_tag "sponsors/symbio@2x.png", :alt => "Symbio logo", :height => 33
      %li
        %a(href="http://www.netplaza.fi/" title="Netplaza.fi")
          = image_tag "sponsors/netplaza@2x.png", :alt => "Netplaza logo", :height => 20
      %li
        %a(href="http://www.pivolompakko.fi/" title="Pivolompakko.fi")
          = image_tag "sponsors/pivo@2x.png", :alt => "Pivo logo", :height => 30
      %li
        %a(href="http://www.cie.fi/" title="Cie.fi")
          = image_tag "sponsors/cie@2x.png", :alt => "CIE logo", :height => 50
